In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df = pd.read_csv('D:\ProjectFiles\Admission_prediction\Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
df.shape

(400, 9)

In [7]:
# sample =df.sample(50)
# sample_X = sample.drop('Chance of Admit',axis=1)
# sample_y = sample['Chance of Admit']

In [13]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [14]:
X = df.drop('Chance of Admit ',axis=1)
y = df['Chance of Admit ']

In [15]:
from sklearn.model_selection import train_test_split
X_tr,X_te,y_tr,y_te = train_test_split(X,y,test_size=0.3,random_state=42)

In [17]:
print(X_tr.shape,'\n',X_te.shape,'\n',y_tr.shape,'\n',y_te.shape)

(280, 8)
 (120, 8)
 (280,)
 (120,)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()
X_tr_scaled = scaler.fit_transform(X_tr)
X_te_scaled = scaler.transform(X_te)

In [21]:
model = LinearRegression()
model.fit(X_tr_scaled,y_tr)

LinearRegression()

In [22]:
pred = model.predict(X_te_scaled)

In [24]:
print("Mean Squared error :",mean_squared_error(y_te,pred))
print("R2_Score :",r2_score(y_te,pred))

Mean Squared error : 0.0045767208746973305
R2_Score : 0.7989423100992538

In [25]:
sample =df.sample(50)
sample_X = sample.drop('Chance of Admit ',axis=1)
sample_y = sample['Chance of Admit ']

In [26]:
sample_pred = model.predict(sample_X)

c:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [27]:
sample["Predicted"] = sample_pred
sample.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Predicted
138,139,326,116,2,4.5,3.0,9.08,1,0.80,14.370221
65,66,325,112,4,3.5,3.5,8.92,0,0.55,12.688303
394,395,329,111,4,4.5,4.0,9.23,1,0.89,19.845880
382,383,324,110,4,4.5,4.0,9.15,1,0.82,19.449489
107,108,338,117,4,3.5,4.5,9.46,1,0.91,14.055650

In [29]:
len(pred)

120

In [30]:
X_te["predicted"]=pred
X_te

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,predicted
209,210,301,104,3,3.5,4.0,8.12,1,0.652990
280,281,311,102,3,4.5,4.0,8.64,1,0.730664
33,34,340,114,5,4.0,4.0,9.60,1,0.902828
210,211,325,108,4,4.5,4.0,9.06,1,0.820340
93,94,301,97,2,3.0,3.0,7.88,1,0.551153
...,...,...,...,...,...,...,...,...,...
60,61,309,100,2,3.0,3.0,8.10,0,0.576556
79,80,294,93,1,1.5,2.0,7.36,0,0.420551
285,286,331,116,5,4.0,4.0,9.26,1,0.908316
305,306,321,109,3,3.5,3.5,8.80,1,0.790820
281,282,317,110,3,4.0,4.5,9.11,1,0.830968

In [31]:
import pickle

In [33]:

filename = 'final_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_te, y_te)
# print(result,'% Acuuracy')

In [34]:
loaded_model =pickle.load(open('final_model.sav','rb'))

In [35]:
loaded_model

LinearRegression()

In [37]:
#93	94	301	97	2	3.0	3.0	7.88	1	
P =[[94,301,97,2,3.0,3.0,7.88,1]]
result=loaded_model.predict(P)
print(result)

[12.30487342]